<h1 align="center">Update your profile</h1>

<div class="margin-left">
  <%= form_for @user do |f|%>
    <%= render 'shared/error_messages'%>

    <%= f.label :name%> <br>
    <%= f.text_field :name, palceholder: 'Name'%> <br>

    <%= f.label :email%> <br>
    <%= f.text_field :email, placeholder: 'E-mail'%> <br>

    <%= f.label :password%> <br>
    <%= f.password_field :password, placeholder: 'Password'%> <br>

    <%= f.label :password_confirmation%> <br>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm password'%> <br>

    <%= f.submit 'Save changes', class: 'btn btn-large btn-primary'%> <br>
    <%= link_to 'Back to profile', user_path%>
  <% end %>
  <br>
  <%= gravatar_for @user%>
  <a href="http://gravatar.com/emails" target="blank">change</a>
</div>