<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p><%= link_to "Edit profile", edit_user_path%></p>
<p><%= link_to "Posts", posts_path%></p>
<p><%= link_to "Show all users", users_path%></p>
<p><%= link_to "Back", current_user %></p>
<p><%= link_to "Log out", signout_path, method: "delete"%></p>
