= form_for(@post) do |f|
  = if @post.errors.any?
    %div #error_explanation
      %h2= pluralize(@post.errors.count, "error")
      %h2 prohibited this post from being saved:

      %ul
      = @post.errors.full_messages.each do |message|
        %li = message

  %div .field
    = f.label :title
    %br
    = f.text_field :title, placeholder: 'Title', :class => 'form-control'

  %div .field
    = f.label :body
    %br
    = f.text_area :body, placeholder: 'Body', :class => 'form-control'

  %div .field
    = f.label :tags
    %br
    = f.text_field :tags, placeholder: 'Tag', :class => 'form-control'

    %br
  %div .action {align="center"}
    = f.submit :class => 'btn btn-info'
