<p id="notice"><%= notice %></p>

<div align="right" id="middle">
  <%= form_tag(posts_path, method: 'GET') do%>
      <%= text_field_tag :search, params[:search], class: 'input-sm', placeholder: 'Search for...'%>
      <%= image_submit_tag('search.png', class: 'picture_size')%>

  <% end %>
</div>

<h1 align="center">Listing Posts</h1>

  <span class="paginate"> <%= will_paginate %> </span>

    <% @posts.each do |post| %>

    <div class="show_posts">
        <p align="center" style="margin-top: 1px"><b> <%= post.title %> </b> </p>
        <p style="margin-left: 3px; margin-right: 3px;" align="justify"><%= post.body %> </p>
        <p align="right" style="color: #2fa3ff; margin-right: 3px"> <%= raw post.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ')%> </p>

      <div class="votes">
        <% unless current_user == post.user %>
          <%= link_to image_tag('arrow-up.png', size: '22x22'), vote_post_path(post, type: 'up'), method: 'post' %>
        <% end %>
        <strong><%= post.reputation_for(:votes).to_i %></strong>
        <% unless current_user == post.user %>
          <%= link_to image_tag('arrow-down.png', size: '22x22'), vote_post_path(post, type: 'down'), method: 'post' %>
        <% end %>
      </div>

      <div id="line" style="margin-top: 10px">
          <%= link_to image_tag('web-cam.png', size: '32x32'), post %>
          <% if current_user == post.user %>
            <%= link_to image_tag('pencil.png', size: '32x32'), edit_post_path(post) %>
            <%= link_to image_tag('bin.png', size: '32x32'), post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>

     <div align="right" style="margin: auto; width: 170px; margin-bottom: 3px; margin-right: 3px">
       <% if post.user%>
         <table>
           <tr>
             <td rowspan="2"> <%= gravatar_for post.user, size: 40 %></td>
             <td>Created by:</td>
           </tr>
           <tr>
             <td><b><%= post.user.name %></b></td>
           </tr>
         </table>
       <% end %>
     </div>
    </div>
  <% end %>
<br>


<% if signed_in?%>
  <div align="center">
    <a class="btn btn-info"<%= link_to 'New Post', new_post_path %> </a>
    <a class="btn btn-info"<%= link_to 'Back', current_user %> </a> <br>
  </div>
<% end %>

  <span class="paginate"> <%= will_paginate %> </span>
