<p id="notice"><%= notice %></p>

<div align="middle" id="middle" class="v-middle">
  <%= form_tag('/search', method: 'get') do%>
      <% label_tag(:q, 'Search for:') %>
      <%= text_field_tag 'Search', nil, class: 'input-sm',placeholder: 'Search for...'%>
      <%= image_submit_tag('search.png', class: 'picture_size')%>

  <% end %>
</div>

<h1 align="center">Listing Posts</h1>

<%= will_paginate %>

<div class="show_posts">
<table>
    <% @posts.each do |post| %>

        <td>
         <dl> <%= post.title %>
           <dt> <%= post.body %> </dt>
            <dd><%= post.tags %> </dd>
         </dl>
        <% if post.user%>
         <%= gravatar_for post.user, size: 40%> Created by <b><%= post.user.name %></b>
        <% end %>
        </td>

    <div>
      <tr>
        <td>
          <%= link_to image_tag('web-cam.png', size: '32x32'), post %>
          <% if current_user == post.user %>
            <%= link_to image_tag('pencil.png', size: '32x32'), edit_post_path(post) %>
            <%= link_to image_tag('bin.png', size: '32x32'), post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <hr>
        </td>
      </tr>
     </div>
    <% end %>
  </table>
</div>
<br>


<% if signed_in?%>
  <div align="center">
    <a class="btn btn-info"<%= link_to 'New Post', new_post_path %> </a>
    <a class="btn btn-info"<%= link_to 'Back', current_user %> </a> <br>
  </div>
<% end %>

<%= will_paginate %>
