<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.try(:title) %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.try(:body) %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.try(:tags) %>
</p>

<%if current_user == @post.user%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
