<div class="show_posts  ">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.try(:title) %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.try(:body) %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.try(:tags) %>
</p>

  <div style="margin-top: 10px" id="line">
    <%if current_user == @post.user%>
    <%= link_to image_tag('pencil.png', size: '32x32'), edit_post_path(@post) %>
    <% end %>
    <%= link_to image_tag('navigation-left.png', size: '32x32'), posts_path %>
  </div>

  <div align="right">
    <%= gravatar_for @post.user, size: 40%> <span style="vertical-align: bottom">Created by <b><%= @post.user.name %></b></span>
  </div>
</div>