<p id="notice"><%= notice %></p>

<div class="show_posts">
<p class="post-show">
  <strong>Title:</strong>
  <%= @post.try(:title) %>
</p>

<p class="post-show" style="margin-right: 3px" align="justify">
  <strong>Body:</strong>
  <%= @post.try(:body) %>
</p>

<p class="post-show">
  <strong>Tags:</strong>
  <%= @post.try(:tags) %>
</p>

  <div class="votes">
    <% unless current_user == @post.user %>
        <%= link_to image_tag('arrow-up.png', size: '22x22'), vote_post_path(@post, type: 'up'), method: 'post' %>
    <% end %>
    <strong><%= @post.reputation_for(:votes).to_i %></strong>
    <% unless current_user == @post.user %>
        <%= link_to image_tag('arrow-down.png', size: '22x22'), vote_post_path(@post, type: 'down'), method: 'post' %>
    <% end %>
  </div>

  <div style="margin-top: 10px" id="line">
    <%if current_user == @post.user%>
    <%= link_to image_tag('pencil.png', size: '32x32'), edit_post_path(@post) %>
    <% end %>
    <%= link_to image_tag('navigation-left.png', size: '32x32'), posts_path %>
  </div>

  <div align="right" style="margin-bottom: 3px; margin-right: 3px">
     <%= gravatar_for @post.user, size: 40%> <span style="vertical-align: bottom">Created by <b><%= @post.user.name %></b></span>
  </div>
  <hr>
  <h5 class="comment-title" align="center"><strong>Comments:</strong></h5>

  <% @post.comments.each do |comment| %>
  <div>
    <div>
          <p>
            <%= comment.comment %>
          </p>
    </div>

    <div align="right" style="margin-bottom: 3px; margin-right: 3px">
      <table>
        <tr>
          <td rowspan="2"> <%= gravatar_for comment.user, size: 40%></td>
          <td>Created by:</td>
        </tr>
        <tr>
          <td><b><%= comment.user.name %></b></td>
        </tr>
      </table>
    </div>
  </div>
     <%end%>

<%= render 'comments/form'%>

</div>