<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %> </div>
  <% end %>
  <% if signed_in?%>
  <h5 align="right">You entered as <%= current_user.name %></h5>
  <% end %>
<%= yield %>

</body>
</html>
